@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
}

body {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reg-form {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #E5E5E5;
}

.reg-form__form {
	width: 480px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.reg-form__create-account {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.btn {
	min-width: 139px;
	color: #fff;
	background-color: #558CB7;
	border-radius: 3px;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 31px;
	padding-right: 31px;
}

.btn--default {
	background-color: #82B3D9;
}

.popup__button-close {
	position: absolute;
	top: 37px;
	right: 48px;
	width: 19px;
	height: 19px;
	background-image: url('../img/close-btn.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.reg-form__form fieldset {
	margin: 0;
	padding: 0 40px 40px;
	border: 0;
}

.reg-form__form legend {
	padding-top: 40px;
	padding-bottom: 30px;
	display: block;
	font-size: 24px;
	line-height: 28px;
	color: #000;
}

.reg-form__form label {
	display: block;
	padding-bottom: 10px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-weight: bold;
}

.reg-form__form input {
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 30px;
	height: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

.reg-form__form input[type="password"] {
	margin-bottom: 5px;
}

.reg-form__form input[type="checkbox"] {
  display: none;
}

.reg-form__form input[type="checkbox"]~label {
  display: block;
  position: relative;
  user-select: none;
  box-sizing: border-box;
  margin-top: 19px;
  margin-bottom: 42px;
  padding-left: 20px;
  cursor: pointer;
}

.reg-form__form input[type="checkbox"]~label::before,
.reg-form__form input[type="checkbox"]~label::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 0px;
  top: 0;
  background-repeat: no-repeat;
  background-position: 50%;
}

.reg-form__form input[type="checkbox"]~label::before {
	background-image: url("../img/checkbox.svg");
}

.reg-form__form input[type="checkbox"]:checked~label::after {
	background-image: url("../img/check-icon.svg");
}

.reg-form__form input[type="submit"] {
	width: 200px;
	display: block;
	margin: 0 auto;
}

.reg-form__form label>a {
	color: #558CB7;
}

.reg-form__password-rules {
	color: #777777;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-weight: bold;
}

.reg-form__rules-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reg-form__rules-list li {
	position: relative;
	color: #777777;
	padding-left: 20px;
}

.reg-form__rules-list li::before {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0;
	box-sizing: border-box;
	border: 1px solid #777;
	border-radius: 50%;
}

li.error {
	color: #9F2B11;
}

li.error::before {
	border-color: #9F2B11;
}

li.error::after, li.success::after {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0;
	background-repeat: no-repeat;
	background-position: 50%;
}

li.error::after {
	background-image: url(../img/error-icon.svg);
}

li.success::after {
	background-image: url(../img/success-icon.svg);
}

li.success {
	color: #007B1B;
}

li.success::before {
	border-color: #007B1B;
}
